/* Elements */
h1, h2, h3, h4, h5, h6 {
  color: rgb(243, 242, 242);
  font-family: "Gotham", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Gotham", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  padding: 15px;
  
  outline: none;
  border: none;
  border-radius: 10px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  font-family: "Gotham", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

button, a {

  user-select: none;
  color: rgb(217, 217, 217);
  font-family: "Gotham", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  
  border: 2px solid #5a538d;
  border-radius: 5px;

  font-size: 20px;

  cursor: pointer;

  transition: 0.5s;
}

button, a:hover {
  border: 2px solid #aba6ce;
}

a:link {
  text-decoration: none;
}

/* Classes */
.preload * {
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
}

.no-display {
  display: none;
  pointer-events: none;
}

.transparent {
  opacity: 0;
}