/* Elements */
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: radial-gradient(circle at center, #141028 0, #221d3e, #221d3e 100%);
  flex-flow: column;
}

/* Classes */
.article {
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  margin: 10px 20px 10px 0px;
  max-width: calc(50vw - 60px);
  height: calc(100% - 50px);
/*   width: calc(100% / 4 - 60px); */
  display:flex;
  flex-direction:column;
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: rgb(200, 200, 200) 0px 10px 20px -10px;
  vertical-align: top;
}

.article:hover {
  cursor: pointer;
  box-shadow: rgb(141, 139, 139) 0px 15px 20px -10px;
}

.article-thumbnail {
  width: calc(100% + 40px);
  height: 0;
  padding-bottom: 40%;
  background-position: center;
  background-size: 110%;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -10px;
  -webkit-mask-image:-webkit-gradient(linear, left 70%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
/*   mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 0%); */
}

.article-title {
  font-size: 18px;
}

.article-description {
  font-size: 13px;
  color: #5c5c5c;
}

.tag {
  border: solid 1px #bababa;
  border-radius: 10px;
  color: #969696;
  display: inline-block;
  font-size: 13px;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 5px;
}

.tag-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  flex: 1 0;
  width: 100%;
}

.difficulty-basic {
  border: solid 1px #60d78e;
  color: #60d78e;
}

.difficulty-intermediate {
  border: solid 1px #ddcf31;
  color: #ddcf31;
}

.difficulty-advanced {
  border: solid 1px #d75b5b;
  color: #d75b5b;
}

.white-text {
  color: white;
}

.dropdown-initiator {
  color: #5c5c5c;
  transition: 0.5s;
  font-size: 15px;
  padding: 16px;
  border: 1px solid #bababa;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.dropdown-icon {
  margin-left: 15px; 
  filter: brightness(0) saturate(100%) invert(83%) sepia(0%) saturate(6185%) hue-rotate(80deg) brightness(92%) contrast(92%);
  transform: rotate(180deg);
  transition: 0.2s;
}

.dropdown-initiator:hover {
  color: #bababa;
}

.dropdown-content {
  pointer-events: none;
  opacity: 0;
  flex-direction: column;
  transition: 0.2s;
  background: white;
  padding: 20px;
  border: 1px solid #bababa;
  border-radius: 10px;
  margin-top: 10px;
  width: calc(100% - 40px);
}

.dropdown-show {
  pointer-events: auto;
  z-index: 10;
  opacity: 1;
}

.dropdown-divider {
  width: 100%;
  height: 1px;
  border: none;
  background: #e0e0e0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-button {
  border: none;
  display: block;
  color: #5c5c5c;
  font-size: 15px;
  text-align: left;
  padding: 5px;
  transition: 0.5s;
  width: 100%;
}

.dropdown-button:hover {
  color: #bababa;
}

/* IDs */
#article-browse {
  width: calc(100% - 100px);
  background: white;
  padding: 50px;
}

#article-container {
  width: 100%;
  position: relative;
  top: -211px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5px;
  align-items: start;
}

#difficulty-dropdown {
  display: inline-block;
  position: relative;
  z-index: 0;
}

#difficulty-dropdown-content {
  font-size: 15px;
}

#difficulty-dropdown-initiator {
  
}

#difficulty-dropdown-icon {
  
}

#search-menu {
  padding-top: 75px;
  width: calc(100% - 100px);
  height: 400px;
  text-align: center;
  margin-left: 50px;
}

#search-bar {
  padding: 18px;
  padding-left: 60px;
  padding-right: 30px;
  margin-top: 30px;
  width: 350px;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  color: dimgrey;
  font-size: 16px;
  background: white url("../assets/images/searchicon.png") no-repeat;
  background-size: 20px;
  background-position: 20px center;
}

#org-name {
  color: white;
}

#logo {
}

#menu-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
}